Java/.metadata/
Java/.recommenders/
Java/UnionFind/.settings/
Java/UnionFind/bin
Java/UnionFind/.classpath
Java/UnionFind/.project
Java/DataStructures/.settings/
Java/DataStructures/bin
Java/DataStructures/.classpath
Java/DataStructures/.project
Java/Sorting/.settings/
Java/Sorting/bin
Java/Sorting/.classpath
Java/Sorting/.project